*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore/keystore.properties
keystore/*.jks
*.apk
*.aab
server/build/
manager/build/
provider/build/
common/build/
.kotlin/
sample/build/
__pycache__/
